---
import Logo from "@/components/core/Logo.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";

const entry = await getEntry("pages", "404");

if (!entry) {
  throw new Error("No se encontró la entrada para la página 404.");
}

const { Content } = await entry.render();
---

<Base entry_keys?: string[];>
  <section class="section">
    <div class="container">
      <div class="flex h-[40vh] items-center justify-center">
        <div class="flex flex-col items-center">
          <Logo showText={false} />
          {entry.data.title && <h1 class="mb-4" set:html={markdownify(entry.data.title)} />}
          <Content />
        </div>
      </div>
    </div>
  </section>
</Base>
